html {
  background: url(./images/icewind_dale.webp) no-repeat fixed center;
}
.App {
  text-align: center;
  padding-top: 100px;
}
h1 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




