.App {
  text-align: center;
  background: url(./images/icewind_dale.webp) no-repeat fixed center;
  padding-top: 100px;
  padding-bottom: 100px;
}
h1 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 0px;
}



